# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Deployment'
      'submenu': [
        {
          'label': 'Deploy'
          'command': 'atom-ftp-deployment:start-deployment'
        }
      ]
    ]
  }
]
